body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $bgColor;
  box-sizing: border-box;
  outline: none;
}

/*Layout*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  max-width: 800px;
 }

@media (max-width: 320px) {
}
@media (max-width: 360px) {
}
@media (max-width: 760px) {
}
