.navbar {
  min-height: 45px;
  background-color: $primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .nav-link {
    text-decoration: none;
    columns: $light;
    font-size: 1em;
    color: $light;
 
  }
  .navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 5px;
    &:hover {
      background-color: $primary-hover;
      color: $light;
    }
  }
  .nav {
    margin: 0;
    padding:0;
   
    list-style: none;

    .nav-item {
      margin:0;
      display: inline-block;
      padding: 12px 10px;
      color: $light;
      &:hover {
        background-color: $primary-hover;
        color: $light;
      }
    }
  }
}

.user-logo {
  border-radius: 50%;
  background-color: $light;
  color: $primary !important;
  &:hover {
    background-color: $primary-hover;
    color: $light !important;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $primary;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;

}
.dropdown-content a {
  color: $light;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: $primary-hover;
}
/*
.dropdown:hover .dropdown-content {
  display: block;
}
*/
.drop{
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: $primary;
}
