.navbar {
  min-height: 50px;
  background-color: $primary;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .nav-link {
    text-decoration: none;
    columns: $light;
    font-size: 0.9em;
    color: $light;
  }
  .navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 5px;
    &:hover {
      background-color: $primary-hover;
      color: $light;
    }
  }
  .nav {
    margin: 0;

    list-style: none;

    .nav-item {
      display: inline-block;
      padding: 12px 10px;
      color: $light;
      &:hover {
        background-color: $primary-hover;
        color: $light;
      }
    }
  }
}

.user-logo {
  border-radius: 50%;
  background-color: $light;
  color: $primary !important;
  &:hover {
    background-color: $primary-hover;
    color: $light !important;
  }
}
