.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  padding: 0;
  min-height: 50px;
  background-color: $dark;

  .navbar-light {
    color: $text-light;
  }
}
.navbar-brand {
  display: inline-block;
  box-sizing: border-box;
  color: $text-dark;
  margin: 0;
  text-decoration: none;
  font-weight: 500;
  height: 50px;
  padding:0.5em;
  padding-top:5px;
  &:hover {
    background-color: $primary;
  }
  .nav-link {
    text-decoration: none;
    color: $text-light;
    font-weight: 500;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top:15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  box-sizing: border-box;
  margin: auto;
  display: inline-block;
  padding-top:10px;
  color: $text-light;

  height: 50px;
  &:hover {
    background-color: $primary;
  }

  .nav-link { 
    
    padding:.5em;
   
    text-decoration: none;
    color: $text-light;
    font-weight: 500;
  }
}
