.question-bar {
  background-color: $question-bar;
  margin: 0;
  margin-bottom: 2em;
  min-height: 80px;
  .question-bar-item {
    color: $light;
    padding: 0.5em 0.5em;
    font-size: 1.1em;
    text-align: center;
  }
}

.question-text {
  padding: 0.5em;
  text-align: center;
}
.button-answer {
  outline: none;
  border-radius: 20px;
  border: none;
  background-color: $primary;
  min-height: 30px;
  width: 300px;
  padding: 0.2em;
  color: $light;
  margin: 0.2em;
}
.success {
  background-color: $success;
}
.warning {
  background-color: $danger;
}
.btn-joker {
  outline: none;
  border-radius: 20px;
  border: none;
  background-color: $success;
  min-height: 30px;
  width: 100px;
  padding: 0.2em;
  color: $light;
  margin-top: 2em;
}
.disabled {
  cursor: not-allowed;
  background-color: $secondary;
}

.progressbar {
    margin:20px 20px;
  margin-top: 2em;
  height: 40px;
  border: 2px solid $primary;

  h3 {
    text-align: center;
    padding:7px;
    margin:0
  }
}
.progress {
  position: relative;
  background-color: $info;
  height: 40px;
  width: 100px;
  top:-40px;
}
.hidden, .remove {
  display: none;
}
