.questions-container {
  background-color: $containerColor;
}
.question-bar {
  min-height: 4em;
  padding-top: 1em;
  border-bottom: 1px solid black;
  background-color: $warning;
  .question-bar-item {
    color: $text-light;
    font-size: 1.2em;
    padding: 0.5em;
    span {
      font-size: 1.2em;
    }
  }
}
.question {
  padding: 1em;
  text-align: left;
  font-size: 1.1em;
  line-height: 1.5em;
}
.exam-end {
  margin: 0 auto;
  h1 {    
    line-height:1em;
    text-align: center;
  }
  h4{
    margin-top:1em;
    text-align: center;
  }
}
.button-answer {
  min-height: 2.1em;
  margin: 0.3em 1em;
  padding: 0.2em;
  border-radius: 30px;
  background-color: $primary;
  border: none;
  color: $text-dark;
  font-size: 1.1em;


}
.success {
  background-color: $success;
}
.warning {
  background-color: $warning;
}
.pressed {
  background-color: $light-hover;
  color: $text-dark;
  border: 2px $light solid;
}

.btn-joker {
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 30px;
  margin: 1em 0.4em;
  color: $text-light;
  background-color: $joker;
  &.disabled {
    background-color: $joker-disabled;
    opacity: 0.6;
    cursor: not-allowed;
    &:hover {
      background-color: $joker-disabled;
      color: $text-light;
      border: none;
    }
  }
  &:hover {
    background-color: $light-hover;
    color: $joker;
    border: $joker solid 2px;
  }
}
.progressbar {
  margin: 10px auto;
  padding: 0;
  width: 90%;
  height: 40px;
  border: 1px solid #ccc;
}
.progress {
  margin: 0;
  background-color: $progressBar;
  height: 100%;
  width: 30%;
  h3 {
    margin: auto;
    padding-top: 10px;
    padding-left: 50%;
    color: $text-light;
  }
}

@media (min-width: 320px) {
  .button-answer {
    width: 100%;
  }
}
@media (min-width: 360px) {
  .button-answer {
    width: 100%;
  }
}
@media (min-width: 760px) {
  .button-answer {
    width: 40%;
  }
}
