//table

table {
    margin: 1em auto;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
  }
  th{
    
    background-color: $primary;
    color:$light;
  }
  
  tr:nth-child(even) {
    background-color: $primary-light;
    color:$dark;
  }

  .activeUserClass{
    background-color: $activeUser !important;
    color:$dark;
  }
  table,
  th,
  td {
    text-align: center;
    vertical-align: center;
    font-size: 0.9em;
    padding: 0.2em 0.2em;
  }
  .table {
    overflow-x: auto;
  }