/*utilities*/
// variables

//color

$primary: #EB6864;
$primary-hover:#ff3831;
$primary-light: #fcd9d8;
$secondary: #aaa;
$success: #22B24C;
$info: #369;
$warning: #ce4c82cc;
$danger:#ff0800;
$light: #f8f9fa;
$dark:#222;

$question-bar:#44a9e4;



.center{
  text-align: center;
}
.justifty{
text-align: justify;
text-justify: auto;
}
.indent{
  text-indent:2em;
}
form{
  margin:1.5em 0;
}


.button{
  border:none;
  border-radius:20px;
  min-width:80px;
  outline: none;
  padding:0.5em 1em;
  background-color: $primary;
  color:$light;  
  margin:0.3em;

  &:hover{ 
    color:$light;
    background-color: $primary-hover;  
  }
}
a{
  text-decoration: none;
}


.form-group{
  
display: flex;
margin-bottom:1em;
justify-content: space-between
}
label{
  min-width:130px;
  margin:0.3em;

}
input[type="email"]{
  font-family: 'Open Sans', sans-serif;
  outline:none;
  border-radius:10px;
  height:2em;
  padding:0 1em;
}
input[type="password"]{
  font-family: 'Open Sans', sans-serif;
  outline:none;
  border-radius:10px;
  height:2em;
  padding:0 1em;
}
input[type="text"]{
  font-family: 'Open Sans', sans-serif;
  outline:none;
  border-radius:10px;
  height:2em;
  padding:0 1em;
}
input[type="number"]{
  font-family: 'Open Sans', sans-serif;
  outline:none;
  border-radius:10px;
  height:2em;
  padding:0 1em;
}
textarea{
  font-family: 'Open Sans', sans-serif;
  outline:none;
  border-radius:10px;
  height:7em;
  width:90%;
  padding:0 1em;
}
select{
  font-family: 'Open Sans', sans-serif;
  outline:none;
  border-radius:10px;
  height:2em;
  padding:0 1em;
  width:190px;
}