/*utilities*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 22, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
.center {
  text-align: center !important;
}

/* line 26, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
.indent {
  text-indent: 2em;
}

/* line 29, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
form {
  margin: 1.5em 0;
}

/* line 34, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
.button {
  border: none;
  border-radius: 20px;
  min-width: 80px;
  outline: none;
  padding: 0.5em 1em;
  background-color: #EB6864;
  color: #f8f9fa;
  margin: 0.3em;
}

/* line 44, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
.button:hover {
  color: #f8f9fa;
  background-color: #ff3831;
}

/* line 49, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
a {
  text-decoration: none;
}

/* line 54, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
.form-group {
  display: flex;
  margin-bottom: 1em;
  justify-content: center;
}

/* line 60, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
label {
  min-width: 130px;
  margin: 0.3em;
}

/* line 64, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
input[type="email"] {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border-radius: 10px;
  height: 2em;
  padding: 0 1em;
}

/* line 71, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
input[type="password"] {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border-radius: 10px;
  height: 2em;
  padding: 0 1em;
}

/* line 78, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border-radius: 10px;
  height: 2em;
  padding: 0 1em;
}

/* line 85, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
input[type="number"] {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border-radius: 10px;
  height: 2em;
  padding: 0 1em;
}

/* line 92, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
textarea {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border-radius: 10px;
  height: 7em;
  width: 90%;
  padding: 0 1em;
}

/* line 100, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_utilities.scss */
select {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border-radius: 10px;
  height: 2em;
  padding: 0 1em;
  width: 190px;
}

/* line 1, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_layout.scss */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

/*Layout*/
/* line 10, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_layout.scss */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

/* line 19, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_layout.scss */
.container {
  margin: auto;
  max-width: 700px;
  padding: 0 2em;
}

@media (max-width: 420px) {
  /* line 30, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_layout.scss */
  .question-bar {
    width: 100vw !important;
    margin-left: -0.3em !important;
    font-size: 0.85em !important;
  }
  /* line 35, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_layout.scss */
  .container {
    margin: auto;
    max-width: 700px;
    padding: 0 0.3em;
  }
}

/* line 1, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.navbar {
  min-height: 45px;
  background-color: #EB6864;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 9, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.navbar .nav-link {
  text-decoration: none;
  columns: #f8f9fa;
  font-size: 1em;
  color: #f8f9fa;
}

/* line 16, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.navbar .navbar-brand {
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px 5px;
}

/* line 20, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.navbar .navbar-brand:hover {
  background-color: #ff3831;
  color: #f8f9fa;
}

/* line 25, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.navbar .nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 31, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.navbar .nav .nav-item {
  margin: 0;
  display: inline-block;
  padding: 12px 10px;
  color: #f8f9fa;
}

/* line 36, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.navbar .nav .nav-item:hover {
  background-color: #ff3831;
  color: #f8f9fa;
}

/* line 44, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.user-logo {
  border-radius: 50%;
  background-color: #f8f9fa;
  color: #EB6864 !important;
}

/* line 48, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.user-logo:hover {
  background-color: #ff3831;
  color: #f8f9fa !important;
}

/* line 54, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.dropdown {
  position: relative;
  display: inline-block;
}

/* line 59, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EB6864;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* line 68, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.dropdown-content a {
  color: #f8f9fa;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
}

/* line 74, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.dropdown-content a:hover {
  background-color: #ff3831;
}

/*
.dropdown:hover .dropdown-content {
  display: block;
}
*/
/* line 82, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.drop {
  display: block;
}

/* line 86, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_navbar.scss */
.dropdown:hover .dropbtn {
  background-color: #EB6864;
}

/* line 1, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.question-bar {
  background-color: #44a9e4;
  margin: 0;
  margin-bottom: 2em;
  min-height: 80px;
}

/* line 6, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.question-bar .question-bar-item {
  color: #f8f9fa;
  padding: 0.5em 0.5em;
  font-size: 1.1em;
  text-align: center;
}

/* line 14, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.question-text {
  padding: 0.5em;
  text-align: center;
}

/* line 18, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.button-answer {
  outline: none;
  border-radius: 20px;
  border: none;
  background-color: #EB6864;
  min-height: 30px;
  width: 300px;
  padding: 0.2em;
  color: #f8f9fa;
  margin: 0.2em;
}

/* line 29, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.success {
  background-color: #22B24C;
}

/* line 32, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.warning {
  background-color: #ff0800;
}

/* line 35, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.btn-joker {
  outline: none;
  border-radius: 20px;
  border: none;
  background-color: #22B24C;
  min-height: 30px;
  width: 100px;
  padding: 0.2em;
  color: #f8f9fa;
  margin-top: 2em;
}

/* line 46, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.disabled {
  cursor: not-allowed;
  background-color: #aaa;
}

/* line 51, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.progressbar {
  margin: 20px 20px;
  margin-top: 2em;
  height: 40px;
  border: 2px solid #EB6864;
}

/* line 57, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.progressbar h3 {
  text-align: center;
  padding: 7px;
  margin: 0;
}

/* line 63, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.progress {
  position: relative;
  background-color: #369;
  height: 40px;
  width: 100px;
  top: -36px;
}

/* line 70, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_question.scss */
.hidden, .remove {
  display: none;
}

/* line 1, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_admin.scss */
.tooltip {
  position: relative;
  display: inline-block;
}

/* line 6, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_admin.scss */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #c27f7f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  top: 5px;
  left: 105%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

/* line 22, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_admin.scss */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* line 25, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_admin.scss */
.search1 {
  font-size: 0.9em;
  margin-left: 0.2em;
  position: relative;
  overflow: hidden;
  outline: none;
  border-radius: 10px;
  height: 2em;
  padding: 0 0em;
  max-width: 90px !important;
}

/* line 36, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_admin.scss */
.search2 {
  font-size: 0.9em;
  margin-left: 0.2em;
  position: relative;
  overflow: hidden;
  outline: none;
  border-radius: 10px;
  height: 2em;
  padding: 0 0em;
  max-width: 40px !important;
}

/* line 3, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_reports.scss */
table {
  margin: 1em auto;
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}

/* line 9, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_reports.scss */
th {
  background-color: #EB6864;
  color: #f8f9fa;
}

/* line 15, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_reports.scss */
tr:nth-child(even) {
  background-color: #fcd9d8;
  color: #222;
}

/* line 20, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_reports.scss */
.activeUserClass {
  background-color: #f3ef0b !important;
  color: #222;
}

/* line 24, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_reports.scss */
table,
th,
td {
  text-align: center;
  vertical-align: center;
  font-size: 0.9em;
  padding: 0.2em 0.2em;
}

/* line 32, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_reports.scss */
.table {
  overflow-x: auto;
}

/* line 2, C:/Users/erd/Desktop/web development/sorularFirestore/src/sass/_home.scss */
.home p {
  text-align: justify;
}

/*# sourceMappingURL=../css/style.map */